third_party/daikon-5.8.20/
third_party/hifsuite_linux_x86_stand_alone/
third_party/spot
third_party/vcd2csv
**/*.vcd
**/*.csv
**/*.out
work/
*.vcd
*.csv
**/transcript
**/gmon.out
**/.vscode/
**/external/